*.DS_Store

############################
# LaTeX build artifacts
############################
*.aux
*.log
*.out
*.gz
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.bcf
*.xml
*.lot
*.lof
*.ent
*.nlo
*.idx
*.ilg
*.ind
*.xdv
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
.latexmkrc
.texcache/